# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/b817r9qvleaw/repositories/sanju"
PassengerBaseURI "/"
PassengerPython "/home/b817r9qvleaw/virtualenv/repositories/sanju/3.7/bin/python"
PassengerAppLogFile "/home/b817r9qvleaw/logs/passenger.log"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END

# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/b817r9qvleaw/repositories/sanju"
PassengerBaseURI "/"
PassengerPython "/home/b817r9qvleaw/virtualenv/repositories/sanju/3.7/bin/python"
PassengerAppLogFile "/home/b817r9qvleaw/logs/passenger.log"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
