{% extends 'index.html' %}
{% block header %}
<div class="container">
    <table id="myTable" class="display">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            {% for i in ads_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><img src="{{i.other_ads.url}}" alt="" height="100px"></td>
                <td>
                    <a class="ms-3" href="/delete-ads/{{i.id}}/"><i class="fa fa-trash" aria-hidden="true"></i></a>
                </td>
            </tr>
            {% endfor %}
           
        </tbody>
    </table>
</div>
<script>
    $('#myTable').DataTable({
        Response:true,
    });
</script>
{% endblock header %}