{% extends 'index.html' %}
{% block header %}
<div class="container">
    <div class="row d-flex">
        <div class="col-lg-8 mx-auto mb-4">
            <h1 class="text-center bg-light p-2">Create a new post</h1>
            <form id="form_id">{% csrf_token %}
                <input type="hidden" name="obj_id" id="obj_id" value="{{id}}">
                <div class="mb-2">
                    <input class="form-control" type="text" name="post_title" id="post_title" value="{{post_obj.post_title}}" autocomplete="off" placeholder="Enter post title here..">
                </div>
                <div class="mb-2">
                    <select class="form-control" id="select_cat" name="select_cat">
                        {% if post_obj %}
                        <option value="{{post_obj.post_category_id}}">{{post_obj.post_category}}</option>
                            {% for i in category %}
                            <option value="{{i.id}}">{{i.category_name}}</option>
                            {% endfor %}
                        {% else %}
                            <option value="">select category</option>
                            {% for i in category %}
                            <option value="{{i.id}}">{{i.category_name}}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <div class="mb-2">
                    <textarea class="form-control" name="post_text" id="post_text" autocomplete="off" cols="30" rows="8" placeholder="Enter post text here..">{{post_obj.post_desc}}</textarea>
                </div>
                <div class="mb-2 text-center">
                    <input class="form-control" type="file" name="post_img" id="post_img" value="">
                    {% if post_obj.post_img %}
                    <label for="post_img">
                        <img src="{{post_obj.post_img.url}}" id="create-post-img" alt="" height="30">
                    </label>
                    {% endif %}
                </div>
                <div class="mb-2">
                    <input class="form-control btn btn-sm btn-success" type="button"  name="save_btn" id="save_btn" value="save post">
                </div>
                <div class="mb-2">
                    <input class="form-control btn btn-sm btn-primary" type="button"  name="save_btn" id="save_btn" value="View list" onclick="list_page()">
                </div>
            </form>
        </div>

        <div class="col-lg-4 mx-auto ">
            <h6>Insert Advertisement</h6>
            <form id="ads_form_id">{% csrf_token %}
                <div class="mb-2">
                    <input type="file" class="form-control" name="otherads" id="otherads">
                </div>
                <div class="mb-2">
                    <input type="button" class="form-control bg-success" name="" id="ads_btn" value="add ads">
                </div>
                <div class="mb-2">
                    <input class="form-control btn btn-sm btn-primary" type="button" value="View ads" onclick="ads_list()">
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $('#save_btn').click(function() {
            if ($('#post_title').val() == '') {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please fill news title.',
                })
                return false;
            }
            else if ($('#select_cat').val() == '') {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please select Category.',
                })
                return false;
            }
            else if ($('#post_text').val() == '') {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please fill news description.',
                })
                return false;
            }

            var post_img = $('#post_img').val()
            var image_is = $('#create-post-img').is(':visible')
            var form_data = new FormData($('#form_id')[0])
            var id = $('#obj_id').val();

            if (post_img != '' && id == 0) {
                $.ajax({
                    url: '/add-post/'+id+'/',
                    type: "POST",
                    data: form_data,
                    cache:false,
                    contentType:false,
                    processData:false,
                    beforeSend:function(){
                        $('#loader').removeClass('d-none')
                    },
                    success: (results) => {
                        var id = results.id
                        window.location = '/add-post/'+id+'/';
                    },
                    complete:function(){
                        $('#loader').addClass('d-none')
                    },
                    error: (error) => {
                        console.log(error);
                    }
                });
            }
            else if (image_is == true && id != 0) {
                $.ajax({
                    url: '/add-post/'+id+'/',
                    type: "POST",
                    data: form_data,
                    cache:false,
                    contentType:false,
                    processData:false,
                    beforeSend:function(){
                        $('#loader').removeClass('d-none')
                    },
                    success: (results) => {
                        var id = results.id
                        window.location = '/add-post/'+id+'/';
                    },
                    complete:function(){
                        $('#loader').addClass('d-none')
                    },
                    error: (error) => {
                        console.log(error);
                    }
                });
            }
            else{

                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Please select image',
                    color: '#382fcc',
                })
                return false;               
            }
        });

        function list_page() {
            window.location.href = '/list_page/';
        }
</script>

<script>
    $('#ads_btn').click(function(){
        if($('#otherads').val() != ''){
            var form_data = new FormData($('#ads_form_id')[0])
            $.ajax({
                url: '/create-ads/',
                type: "POST",
                data: form_data,
                cache:false,
                contentType:false,
                processData:false,
                beforeSend:function(){
                    $('#loader').removeClass('d-none')
                },
                success: (results) => {
                    console.log(results.msg)
                    
                },
                complete:function(){
                    $('#loader').addClass('d-none')
                },
                error: (error) => {
                    console.log(error);
                }
            });
        }else{
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Please select Advertisement',
                color: '#382fcc',
            })
            return false;
        }
    })

    function ads_list() {
        window.location.href = '/ads_list/';
    }
</script>
{% endblock header %}
