{% extends 'index.html' %}

{% block header %}
<div class="container mx-auto border">
    <div class="row">
        <div class="col-lg-6 border mb-4">
            <p class="post-title" style="font-weight: bold; text-align: center; font-size: xx-large;">{{post_data.post_title}}</p>
            <img src="{{post_data.post_img.url}}" alt="" class="img-fluid">
            <p class="post-date">{{post_data.created_at}}</p>
            <p style="text-align: justify;">{{post_data.post_desc}}</p>
            <div id="share" class=""></div>
            <button onclick="history.back()" class="btn btn-primary btn-sm">Go Back</button>
        </div>

        <div class="col-lg-6 border">
        <h1>अन्य खबरें</h1>
            {% for i in otherpost %}
            <div class="bg-warning" style="cursor: pointer;">
                <p class="text-dark p-4 post-title" onclick="view_post('{{i.id}}')">{{i.post_title }}</p>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
<script>
    function view_post(obj_id) {
        window.location = '/view_post_details/' + obj_id + '/';
    }
    
    var current_url = $(location).attr('href')
    console.log(current_url);
    $("#share").jsSocials({
        url: current_url ,
        shares: ["email", "twitter", "facebook", "linkedin", "stumbleupon", "whatsapp",]
    });
</script>


{% endblock header %}
